/*
    author:bulletYuan.
    createDate:2018-4-3

    version:0.0.1
    lastModifyDate:2018-4-9
*/
%w100-ha{width: 100%;height: auto;}
$controlH:54px;
$buffH:4px;

video[data-bulletPlayer]{ display: none}
div.playerContainer-bullet[data-bulletPlayer]{
    @extend %w100-ha;
    height: 600px;
    background-color: #333;
    overflow: hidden;
    position: relative;
    cursor: none;
    &>.playedCon{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.33);
        position: absolute;
        top: 0;
        z-index: 1;
        transition: all .2s;
        &>.playBtn{
            width: 80px;
            height: 80px;
            line-height: 80px;
            background: rgba(0, 0, 0, 0.73);
            box-shadow: 0 0 5px rgba(255, 255, 255, 0.33);
            color: #fff;
            font-size: 22px;
            font-weight: bold;
            border-radius: 80px;
            text-align: center;
            cursor: pointer;
            transition: all .3s;
            position: absolute;
            top: 50%; margin-top: -40px;
            left: 50%; margin-left: -40px;
        }
    }

    &>.titleBar{
        @extend %w100-ha;
        padding: 10px 0;
        color: #fff;
        font-size: 1.2rem;
        text-align: center;
        background: rgba(0,0,0,.63);
        position: absolute;
        top: -80px;
        left: 0;
        z-index: 2;
        transition: all .3s;
        &>p.titleText{ line-height: 2rem;}
    }

    &>canvas{
        height: 100%;
        margin: 0 auto;
        display: inherit;
    }

    &.light>.controlBar{ background: rgba($color: #fafafa, $alpha: .23); color: #fafafa;
        &>.progressBar>.playedBar{ background: #09c;}
    }
    &.dark>.controlBar{ background: rgba($color: #444, $alpha: .43); color: #ccc;
        &>.progressBar>.playedBar{ background: #bb0606;}
    }
    &>.controlBar{
        @extend %w100-ha;
        -webkit-user-select:none; -moz-user-select:none; 
        -ms-user-select:none; user-select:none;
        background: rgba($color: #333, $alpha: .43); color: #fff;
        position: absolute;
        bottom: - ($controlH - $buffH);
        left: 0;
        z-index: 2;
        transition: all .3s;
        &>.progressBar{
            width: 100%;
            height: $buffH;
            background: #444;
            position: relative;
            &>.handle{ 
                width: 4px;
                height: 4px;
                background: #fff;
                box-shadow: 0 0 5px rgba(0,0,0,.53);
                border-radius: 20px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                cursor: pointer;
            }
            &>.buffBar{
                width: 0;
                height: 100%;
                background: rgba(255,255,255,.43);
            }
            &>.playedBar{
                width: 0;
                height: 100%;
                top: 0;
                background:#ddd;
                position: absolute;
            }
        }
        &>.toolBar{
            width: 100%;
            height: ($controlH - $buffH);
            %barSize{
                width: 50%;
                height: 100%;
            }
            %btn{
                min-width: 30px;
                height: 30px;
                padding: ((($controlH - $buffH) - 30px)/2);
                text-align: center;
                cursor: pointer;
                transition: all .2s;
            }
            &>.leftBar{
                @extend %barSize;
                float: left;
                &>.playBtn{
                    @extend %btn;
                    width: 60px;
                    line-height: 30px;
                    float: left;
                    &:hover{ background-color: rgba($color: #fafafa, $alpha: 0.84); color: #444;}
                }
                &>.duration{
                    @extend %btn;
                    line-height: 30px;
                    float: left;
                    font-size: 12px;
                }
            }
            &>.rightBar{
                @extend %barSize;
                float: right;
                &>.fullScreenBtn{
                    @extend %btn;
                    line-height: 30px;
                    float: right;
                    &:hover{ background-color: rgba($color: #fafafa, $alpha: 0.84); color: #444;}
                }
                &>.volumeBar{
                    @extend %btn;
                    line-height: 30px;
                    float: right;
                    position: relative;
                    &>.volumeNum{ font-size: 12px;}
                    &>.volumeNum,&>.volume{ float: left;}
                    &>.volume{
                        width: 120px;
                        height: 12px;
                        background: rgba(255,255,255,.43);
                        box-shadow: 0 0 4px rgba(0,0,0,.33) inset;
                        margin-top: 9px;
                        margin-left: 10px;
                        border-radius: 20px;
                        position: relative;
                        overflow: hidden;
                        &>span{
                            height: 100%;
                        }
                        &>.volumeHandler{
                            width: 12px;
                            background: #fff;
                            cursor: pointer;
                            position: absolute;
                            top: 0;left: 0;
                            z-index: 1;
                            border-radius: 20px;
                        }
                        &>.volumeValue{
                            width: 0;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background: #ccc;
                        }
                    }
                }
            }
        }
    }
    &:hover .controlBar>.progressBar>.handle{ 
        width: 16px;
        height: 16px;
        top: -6px;}
}