%padding-0{ padding: 0;}%padding-5{ padding: 5px;}
%padding-10{ padding: 10px;}%padding-15{ padding: 15px;}
%padding-20{ padding: 20px;}%padding-25{ padding: 25px;}
%padding-30{ padding: 30px;}

%padding-tr5-bl0{ padding: 5px;}%padding-tr10-bl0{ padding: 10px;}
%padding-tr15-bl0{ padding: 15px;}%padding-tr20-bl0{ padding: 20px;}
%padding-tr25-bl0{ padding: 25px;}%padding-tr30-bl0{ padding: 30px;}

%padding-tr0-bl5{ padding: 5px;}%padding-tr0-bl10{ padding: 10px;}
%padding-tr0-bl15{ padding: 15px;}%padding-tr0-bl20{ padding: 20px;}
%padding-tr0-bl25{ padding: 25px;}%padding-tr0-bl30{ padding: 30px;}

%padding-t0{ padding-top: 0;}%padding-t5{ padding-top: 5px;}
%padding-t10{ padding-top: 10px;}%padding-t15{ padding-top: 15px;}
%padding-t20{ padding-top: 20px;}%padding-t25{ padding-top: 25px;}
%padding-t30{ padding-top: 30px;}

%padding-l0{ padding-left: 0;}%padding-l5{ padding-left: 5px;}
%padding-l10{ padding-left: 10px;}%padding-l15{ padding-left: 15px;}
%padding-l20{ padding-left: 20px;}%padding-l25{ padding-left: 25px;}
%padding-l30{ padding-left: 30px;}

%padding-r0{ padding-right: 0;}%padding-r5{ padding-right: 5px;}
%padding-r10{ padding-right: 10px;}%padding-r15{ padding-right: 15px;}
%padding-r20{ padding-right: 20px;}%padding-r25{ padding-right: 25px;}
%padding-r30{ padding-right: 30px;}

%padding-b0{ padding-bottom: 0;}%padding-b5{ padding-bottom: 5px;}
%padding-b10{ padding-bottom: 10px;}%padding-b15{ padding-bottom: 15px;}
%padding-b20{ padding-bottom: 20px;}%padding-b25{ padding-bottom: 25px;}
%padding-b30{ padding-bottom: 30px;}

%margin-0{ margin: 0;}%margin-5{ margin: 5px;}
%margin-10{ margin: 10px;}%margin-15{ margin: 15px;}
%margin-20{ margin: 20px;}%margin-25{ margin: 25px;}
%margin-30{ margin: 30px;}

%margin-tr5-bl0{ margin: 5px;}%margin-tr10-bl0{ margin: 10px;}
%margin-tr15-bl0{ margin: 15px;}%margin-tr20-bl0{ margin: 20px;}
%margin-tr25-bl0{ margin: 25px;}%margin-tr30-bl0{ margin: 30px;}

%margin-tr0-bl5{ margin: 5px;}%margin-tr0-bl10{ margin: 10px;}
%margin-tr0-bl15{ margin: 15px;}%margin-tr0-bl20{ margin: 20px;}
%margin-tr0-bl25{ margin: 25px;}%margin-tr0-bl30{ margin: 30px;}

%margin-t0{ margin-top: 0;}%margin-t5{ margin-top: 5px;}
%margin-t10{ margin-top: 10px;}%margin-t15{ margin-top: 15px;}
%margin-t20{ margin-top: 20px;}%margin-t25{ margin-top: 25px;}
%margin-t30{ margin-top: 30px;}

%margin-l0{ margin-left: 0;}%margin-l5{ margin-left: 5px;}
%margin-l10{ margin-left: 10px;}%margin-l15{ margin-left: 15px;}
%margin-l20{ margin-left: 20px;}%margin-l25{ margin-left: 25px;}
%margin-l30{ margin-left: 30px;}

%margin-r0{ margin-right: 0;}%margin-r5{ margin-right: 5px;}
%margin-r10{ margin-right: 10px;}%margin-r15{ margin-right: 15px;}
%margin-r20{ margin-right: 20px;}%margin-r25{ margin-right: 25px;}
%margin-r30{ margin-right: 30px;}

%margin-b0{ margin-bottom: 0;}%margin-b5{ margin-bottom: 5px;}
%margin-b10{ margin-bottom: 10px;}%margin-b15{ margin-bottom: 15px;}
%margin-b20{ margin-bottom: 20px;}%margin-b25{ margin-bottom: 25px;}
%margin-b30{ margin-bottom: 30px;}